<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blockchain_test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-5">
        {% block content %}
            {% endblock %}

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-5 text-center">
            <form action="{{ url_for('check') }}" method="GET">
  <button type="submit" class="btn btn-success">Check integrity</button>
</form>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mx-auto mt-5">
            {% block checking %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>